<div class="container-fluid">
  <!-- <div class="d-flex justify-content-center align-content-center header my-3">
    <ul class="d-lg-flex d-sm-block mt-3">
      <li class="mx-5" routerLink="./dashboard-home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Home</li>
      <li class="mx-5" routerLink="./dashboard-charts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Charts</li>
      <li class="mx-5" routerLink="./dashboard-users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Users</li>
    </ul>
  </div> -->
  <router-outlet></router-outlet>
</div>