<div class="container-fluid p-5">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div><i class="fas fa-users"></i>&nbsp; &nbsp;<span class="text-muted">Users</span></div>
        <div>
          <form action="">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingPassword" placeholder="Search">
              <label for="floatingPassword">Search</label>
            </div>
          </form>
        </div>
      </div>
      <div class="card-body">
      </div>
      <div class="card-footer text-muted text-center">
      </div>
    </div>
  </div>
  
  
  <!-- ClientModal -->
  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" *ngFor="let data of rowData">
  
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ClientModal -->