<p>create-user works!</p>
<div class="container mt-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <app-create-user-role (roleListUpdated)="RoleList($event)"></app-create-user-role>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="createUser" (ngSubmit)="submit()">

              <label for="inputEmail4" class="mt-3">First Name</label>
              <input type="email"  class="form-control" placeholder="First Name" formControlName="firstName">
                
              <label for="inputText" class="mt-3">Last Name</label>
              <input type="text" class="form-control"  placeholder="Last Name" formControlName="lastName">

              <label for="inputText" class="mt-3">Email</label>
              <input type="email" class="form-control"  placeholder="Email" formControlName="email">

              <label for="inputAddress" class="mt-3">Password</label>
              <input type="password" class="form-control"  placeholder="Password"
                formControlName="password">

              <label for="inputAddress2" class="mt-3">Role</label>
              <select formControlName="role" class="form-control">
                <option *ngFor="let data of role_list" [ngValue]="data">{{data}}</option>
              </select>
              
          <button type="submit" class="btn btn-outline-success mt-3 w-100" [disabled]="createUser.invalid">Assign Task</button>
        </form>
      </div>
    </div>
  </div>