<!-- main-individual-endorsement-wrapper start -->
<div class="main-individual-endorsement-wrapper">


    <!-- individual-endorsement-container start -->
    <div class="individual-endorsement-container container">

        <div class="row">


            <div class="col-lg-6">

                <!-- individual-endorsement-left-side-container start -->
                <div class="individual-endorsement-left-side-container overflow-auto">
                    <div class="individual-endorsement-heading">
                        <h1>Lorem ipsum dolor</h1>
                    </div>


                    <div class="individual-endorsement-review">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, atque dicta.
                            Excepturi
                            ut distinctio maiores aspernatur dolorum quasi, porro voluptatem qui accusantium nesciunt
                            cum
                            dolor accusamus placeat saepe quam ipsam.</p>
                    </div>


                    <div class="individual-endorsement-banner">
                        <img src="../../../../../assets/New-Assets/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="">
                    </div>

                    <div class="individual-endorsement-tag mt-4">
                        <span class="fw-bold">Best for</span>
                        <span>#Managers</span>
                        <span>
                            #Project managers</span>
                        <span>
                            #Head of Technology</span>
                    </div>

                    <div class="individual-overview-heading my-4">
                        <h1>Overview</h1>
                    </div>

                    <div class="individual-overview-detail">
                        <div class="d-flex">
                            <span class="d-flex align-items-center">1</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium esse magni
                                illum
                                hic
                                cumque porro eveniet omnis incidunt! Libero!</p>
                        </div>

                        <div class="d-flex">
                            <span class="d-flex align-items-center">1</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium esse magni
                                illum
                                hic
                                cumque porro eveniet omnis incidunt! Libero!</p>
                        </div>

                        <div class="d-flex">
                            <span class="d-flex align-items-center">1</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium esse magni
                                illum
                                hic
                                cumque porro eveniet omnis incidunt! Libero!</p>
                        </div>

                        <div class="d-flex">
                            <span class="d-flex align-items-center">1</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium esse magni
                                illum
                                hic
                                cumque porro eveniet omnis incidunt! Libero!</p>
                        </div>

                        <div class="d-flex">
                            <span class="d-flex align-items-center">1</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laudantium esse magni
                                illum
                                hic
                                cumque porro eveniet omnis incidunt! Libero!</p>
                        </div>
                    </div>


                    <div class="individual-overview-dashboard-heading my-4">
                        <h3>Lorem, ipsum dolor.</h3>
                    </div>

                    <div class="individual-overview-dashboard">
                        <img src="../../../../../assets/New-Assets/stephen-phillips-hostreviews-co-uk-shr_Xn8S8QU-unsplash.jpg"
                            alt="">
                    </div>
                </div>
                <!-- individual-endorsement-left-side-container end -->
            </div>


            <div class="col-lg-6">

                <!-- individual-endorsement-right-side-container start -->
                <div class="individual-endorsement-right-side-container">
                    <div class="card border-0">

                        <div class="individual-endorsement-right-side-container-heading my-4">
                            <div class="d-flex">
                                <h5>Lorem ipsum dolor sit</h5>
                                <i class="fa-solid fa-square-share-nodes ms-auto"></i>
                            </div>
                        </div>


                        <div class="individual-endorsement-right-side-container-content d-flex justify-content-between">

                            <div class="d-flex">
                                <span>$</span>
                                <p>50</p>
                                <span>K</span>
                            </div>

                            <div class="d-flex">
                                <span>$</span>
                                <p>50</p>
                                <span>K</span>
                            </div>

                            <div class="d-flex">
                                <span>$</span>
                                <p>50</p>
                                <span>K</span>
                            </div>
                        </div>


                        <div class="individual-endorsement-right-side-container-content-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odit iure veritatis
                                dolore! Amet quibusdam neque necessitatibus doloremque corporis fugit sapiente, corrupti
                                quos quo! Qui consectetur aut laborum! Vero impedit odio, nihil earum quod aliquid!
                            </p>

                            <div class="avatar-container">
                                <img src="../../../../../assets/New-Assets/Screenshot from 2023-10-01 04-31-08.png"
                                    alt="Card image cap">
                                <span class="ms-2">Joe Biden | </span>
                                <span>POTUS</span>
                            </div>

                        </div>

                        <div class="card-body opacity-75">

                            <div class="card-body-content d-flex justify-content-between mb-5">

                                <div>
                                    <h5 class="opacity-75">Lorem & Ipsum</h5>
                                    <i class="fa-brands fa-slack"></i>
                                    <i class="fa-brands fa-google"></i>
                                    <i class="fa-brands fa-stumbleupon"></i>
                                    <i class="fa-brands fa-drupal"></i>
                                </div>

                                <div>
                                    <h5>Lorem, ipsum dolor</h5>
                                    <h5>Lorem ipsum dolor Percentage (%)</h5>
                                </div>

                            </div>

                            <hr>

                            <div class="card-body-content-2 d-flex">
                                <p class="w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, incidunt.
                                </p>
                                <div class="text-center">
                                    <button type=" button" class="btn btn-outline-primary">Try our free trial</button>
                                    <button type="button" class="btn btn-outline-primary">Reach our sales' dept</button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- individual-endorsement-right-side-container end -->

            </div>

        </div>

    </div>
    <!-- individual-endorsement-container end -->


    <!-- individual-endorsement-container-2 start -->
    <div class="individual-endorsement-container-2 container">
        <div class="row my-5">

            <div class="mt-5 opacity-75">
                <h3>Lorem, ipsum dolor.</h3>
            </div>


            <div class="col-6 col-lg-6 col-xl-4">
                <div class="card border-0">
                    <img src="../../../../../assets/New-Assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body w-75 ">
                        <h5 class="card-title opacity-75">Card title</h5>
                        <p class="card-text opacity-75">Some quick example text to build on the card title and make up
                            the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="col-6 col-lg-6 col-xl-4">
                <div class="card border-0">
                    <img src="../../../../../assets/New-Assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body w-75 ">
                        <h5 class="card-title opacity-75">Card title</h5>
                        <p class="card-text opacity-75">Some quick example text to build on the card title and make up
                            the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

            <div class="col-6 col-lg-6 col-xl-4">
                <div class="card border-0">
                    <img src="../../../../../assets/New-Assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body w-75 ">
                        <h5 class="card-title opacity-75">Card title</h5>
                        <p class="card-text opacity-75">Some quick example text to build on the card title and make up
                            the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- individual-endorsement-container-2 end -->


</div>
<!-- main-individual-endorsement-wrapper end -->