<!-- main-about-page-wrapper starts -->
<div class="main-about-page-wrapper overflow-hidden">

    <!-- first-container-wrapper starts -->
    <div class="first-container-wrapper container justify-content-between ps-md-4 text-start">
        <div class="row">

            <div class="col-lg-6">
                <h1>How did the
                    <span>Humanoid CRM</span>
                    begin?
                </h1>
            </div>

            <div class="col-lg-6">
                <p>Through a combination of active participation, communication, teamwork, and rapid growth. A
                    dedication to transparency and agreement with our chosen working style was easily incorporated into
                    all of this.</p>
            </div>

        </div>
    </div>
    <!-- first-container-wrapper ends -->


    <!-- second-container-wrapper starts -->
    <div class="second-container-wrapper">
        <div class="text text-start">
            <h1>Everything revolves around the people.</h1>
        </div>
    </div>
    <!-- second-container-wrapper ends -->


    <!-- third-container-wrapper starts -->
    <div class="third-container-wrapper container mt-5 mb-5">
        <div class="row">

            <div class="col-lg-6">
                <p class="text-start">Our growth has continued as a result of the process of integrating and automating
                    numerous tasks, creating effective workflows, creating helpful templates, and exceeding our most
                    ambitious expectations for community expansion. The idea for the Humanoid CRM was developed
                    throughout the course of this transforming trip.</p>
            </div>

            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="../../../../assets/New-Assets/surface-coCGW4SsxX4-unsplash.jpg" alt="">
                </div>

            </div>
        </div>
        <!-- third-container-wrapper ends -->

    </div>

    <!-- fourth-container-wrapper starts -->
    <div class="fourth-container-wrapper container py-5">

        <div class="row">
            <h1 class="text-center mb-4">Our Mission</h1>

            <div class="col-lg-6">
                <p>While we absolutely love productivity software, we believe productivity, in general, is broken.
                    There's just too many tools to keep track of, too many things in entirely separate ecosystems. There
                    has to be a better way to work - that's why we created ClickUp, first an internal tool, now as a way
                    to fulfill our vision of making the world more productive.

                    Eventually, our goal is to have all work live in ClickUp - thereby making people more productive and
                    giving back at least 20% of time to dedicate to other things. One app to replace them all. We're
                    just getting started, and are so grateful for all of the 800,000+ teams that are in this together
                    with our team.</p>
            </div>

            <div class="col-lg-6">

                <img src="../../../../assets/New-Assets/ian-schneider-TamMbr4okv4-unsplash.jpg" alt="">

            </div>
        </div>

    </div>
    <!-- fourth-container-wrapper ends -->


    <!-- fifth-container-wrapper starts -->
    <div class="container fifth-container-wrapper py-5">

        <div class="row">

            <h1 class="text-center mb-3">OUR CORE BELIEFS</h1>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-start px-3">
                        <h5 class="card-title mt-3">Striving for Excellence</h5>
                        <p class="card-text">Excellence is the limitless capacity to raise the calibre of what you
                            provide.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body card-body text-start px-3">
                        <h5 class="card-title mt-3">Your Financial Success</h5>
                        <p class="card-text">We will work relentlessly with you to identify ways to save you money,
                            support the
                            growth of your business, and assure your financial success since, like us, you live and
                            breathe your
                            business.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body card-body text-start px-3">
                        <h5 class="card-title mt-3">Combined Efforts to Achieve Excellence</h5>
                        <p class="card-text">We strive for excellence in everything we do, so we will work with you to
                            ensure you
                            and your business reach their full potential. Our employees will use their experience and
                            know-how to
                            assist you in meeting your financial objectives.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body card-body text-start px-3">
                        <h5 class="card-title mt-3">Cost-effective Solutions</h5>
                        <p class="card-text">Our knowledgeable employees and legal teams have years of experience in
                            their
                            respective fields. This means that we can guarantee that they will complete the task while
                            saving you a
                            significant amount of money. You can rely on us.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body card-body text-start px-3">
                        <h5 class="card-title mt-3">Expert Financial Solutions</h5>
                        <p class="card-text">We seek out ways to save you
                            money
                            while remaining financially viable. What would be the point otherwise? You can be confident
                            that you
                            will always be charged a reasonable fee for the expert work that we perform.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body card-body text-start px-3">
                        <h5 class="card-title mt-3">Promoting Mutual Development</h5>
                        <p class="card-text">We are committed to assisting our clients in growing, and by assisting you
                            in growing,
                            we can grow as well. We will collaborate closely with you to meet your company's needs,
                            bringing
                            expertise and initiative to ensure your financial success.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- fifth-container-wrapper ends -->

</div>
<!-- main-about-page-wrapper ends -->