i:hover{
    cursor: pointer;
    
}
.submit-button{
    position: absolute;
}
.loadingspinner {
    pointer-events: none;
    width: 20px;
    height: 20px;
    border: 5px solid transparent;
   top: 4px;
    position: relative;
    border-color: #eee;
    border-top-color: #3E67EC;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg);
        
    }
}


.box {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 10px;
  }
  .payslip-container {
        margin: 30px auto;
        max-width: 900px;
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #f8f9fa;
    }

    .payslip-section {
        border: 1px solid #dee2e6;
        margin-bottom: 20px;
        padding: 10px;
        background-color: white;
    }

    .payslip-section h5 {
        background-color: #e9ecef;
        padding: 5px 10px;
        margin: -10px -10px 10px;
    }

    .payslip-table {
        width: 100%;
    }

    .net-pay {
        font-weight: bold;
        font-size: 1.5rem;
        background-color: #e9ecef;
        padding: 10px;
    }

