<div class="container-fluid m-0" role="button">
    <div class="row" *ngFor="let item of getCompliancePackData">
        <div >
            <div class="col">
                <div class="wrapper p-5 mb-2">
                    <div class="form-check d-md-flex justify-content-start">
                        <input class="form-check-input" type="checkbox" [value]="item?.foreName" id="flexCheckDefault">

                        <img src="../../../../../../assets/blank-profile-picture-973460__340.webp" class="ms-2"
                            height="70px" width="70px" alt="">
                        <div class="d-inline-block">
                            <div class="d-flex flex-row">
                                <label class="form-check-label ms-2 fs-5" for="flexCheckDefault">
                                    {{item?.foreName}}
                                </label>
                            </div>
                            <div class="d-block ms-2 text-secondary ">
                                <span class="writingstyle">phone:- {{item?.phoneNumber}}</span> |
                                <span class="writingstyle">Email:- {{item?.email}}</span> |
                                <span class="writingstyle">Mobile:- </span>
                            </div>
                            <div class="d-block ms-2 text-secondary ">
                                <span class="writingstyle">Account-Name:- {{item?.accountName}}</span> |
                                <span class="writingstyle">Title:- </span> |
                                <span class="writingstyle">Source:- </span>
                            </div>
                        </div>

                        <div class="icons d-md-flex justify-content-end me-5 ms-auto">
                            <img src="../../../../../../assets/blank-profile-picture-973460__340.webp" class="ms-2"
                                height="40px" width="40px" alt="">
                            <div class="d-inline-block">
                                <div class="d-md-flex flex-row">
                                    <label class="form-check-label ms-2 writingstyle" for="flexCheckDefault">
                                        {{item?.foreName}}
                                    </label>
                                    <i class="fas fa-archive text-success ms-3" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1" role="button"
                                        (click)="activeModal({_id:item?._id,modal:'soft'})"></i>

                                    <i class="fa-solid fa-trash text-danger ms-3" role="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1"
                                        (click)="activeModal({_id:item?._id,modal:'hard'})"></i>
                                        <i class="fa-regular fa-folder-open ms-2" routerLink="../contactInfo/{{item?._id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Open-Lead"></i>
                                </div>
                                <div class="d-md-block ms-2 text-secondary fs-6 fw-normal">
                                    <span class="writingstyle">phone:- {{item?.phoneNumber}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12 mb-3">
            <p-table [columns]="selectedColumns" #dt [value]="getCompliancePackData" dataKey="id" [rowHover]="true"
            [reorderableColumns]="true"
                [rows]="10" editMode="row" [showCurrentPageReport]="true" [rowsPerPageOptions]="[4, 25, 50]"
                [paginator]="true" [resizableColumns]="true" [totalRecords]="getCompliancePackData.length"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                styleClass="p-datatable-gridlines"
                [globalFilterFields]="['clientName', 'campaign', 'email', 'status','platform']">
                <ng-template pTemplate="caption">

                    <div class="table-header">
                        <span class="me-5"> List of Leads</span>
                        <!-- Multi-Select -->
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                            selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}"
                            placeholder="Choose Columns"></p-multiSelect>
                        <!-- Multi-Select -->
                        <span class="p-input-icon-left ms-3">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Global Search" />
                        </span>

                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                 
                        <th *ngFor="let col of columns" pResizableColumn pReorderableColumn>
                            {{col.header}}
                            <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        </th>
                        <th pResizableColumn>
                            <span>Perform-Actions</span>
                        </th>

                    </tr>

                    <tr>
                      
                        <th *ngFor="let col of columns">
                            <input pInputText type="text"
                                (input)="dt.filter($any($event.target).value, col.field, 'contains')"
                                [value]="$any(dt.filters[col.field])?.value || ''"
                                [placeholder]="'Search by ' + col.header" class="w-full">
                        </th>
                     
                        <th>
                            <span>Perform-Actions</span>
                        </th>
                    </tr>
                    <tr>

                    </tr>

                </ng-template>

                <ng-template pTemplate="body" let-getCompliancePackData let-columns="columns" let-editing="editing"
                    let-ri="rowIndex">
                    <tr [pEditableRow]="getCompliancePackData">
                        <td *ngFor="let col of columns">
                            <p-cellEditor>

                                <ng-template pTemplate="input">
                                    <ng-container
                                        *ngIf="col.field === 'status'  ">
                                        <p-dropdown [options]="getOptions(col.field)"
                                            [(ngModel)]="getCompliancePackData[col.field]" [editable]="false"
                                            appendTo="body"></p-dropdown>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="col.field !== 'status' ">
                                        <input pInputText type="text" [(ngModel)]="getCompliancePackData[col.field]">
                                    </ng-container>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <ng-container *ngIf="col.header === 'Status'">
                                        <p-tag [value]="getCompliancePackData[col.field]"
                                            [severity]="getSeverity(getCompliancePackData[col.field])"></p-tag>
                                    </ng-container>
                                    
                                    <ng-container *ngIf="col.header !== 'Status' ">
                                        {{ getCompliancePackData[col.field] }}
                                    </ng-container>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                class="p-button-success me-1"
                                (click)="onRowEditInit(getCompliancePackData, ri)"></button>

                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(getCompliancePackData, ri)" class="p-button-success"
                                class="me-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(getCompliancePackData, ri)"
                                class="p-button-danger me-2"></button>
                            <p-button icon="pi pi-trash" styleClass="p-button-danger" class="me-1"
                                data-bs-toggle="modal"
                                (click)="activeModal({_id:getCompliancePackData?._id,modal:'hard'})"
                                data-bs-target="#exampleModal1"></p-button>
                            <p-button icon="pi pi-trash" styleClass="p-button-warning" data-bs-toggle="modal"
                                (click)="activeModal({_id:getCompliancePackData?._id,modal:'soft'})"
                                data-bs-target="#exampleModal1"></p-button>
                        </td>
                    </tr>


                </ng-template>
            </p-table>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{activeSoftDeleteModal ? 'Archived' :
                    activeHardDeleteModal ? 'Delete' : ''}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" data-bs-dismiss="modal" class="btn"
                    [ngClass]=" activeSoftDeleteModal ? 'btn-outline-success' : activeHardDeleteModal ? 'btn-outline-danger' : '' "
                    (click)="activeSoftDeleteModal ? softDeleteIdFromRegistrationThroughEmailForm(FromRegistrationThroughEmailId) : activeHardDeleteModal ? deleteIdDataFromRegistrationThroughEmailForm(FromRegistrationThroughEmailId) : null">Are
                    you sure you want to {{activeSoftDeleteModal ? 'Archived' : activeHardDeleteModal ? 'Delete' : ''}}
                    it?</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation Modal -->