a {
  text-decoration: none;
}

.main-contact-wrapper {

  margin-top: 130px;
}

.main-heading h1 {

  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
}

.contact-wrapper {

  min-height: 20vh;
}

.contact-wrapper .card {

  min-height: 150px;
  border: none;
  box-shadow: var(--box-shadow-silver-tree);
  transition: transform 0.3s;
  cursor: pointer;

}

.contact-wrapper .card:hover {

  box-shadow: var(--box-shadow-light-green);
  transform: scale(1.05);
  background: #FCFCFC;
}

.form-control {
  height: 52px;
  background: transparent;
  color: #6AB476 !important;
  font-size: 14px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00CE33;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5) !important;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5) !important;
}

.form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(255, 255, 255, 0.5) !important;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5) !important;
}

.form-control:focus,
.form-control:active {
  background: transparent;
  border-color: #6AB476 !important;
}
.custom-placeholder::placeholder{
  color:#6AB476 !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  animation: shake 50ms;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  animation: shake 50ms;
}

textarea.form-control {
  height: inherit !important;
}

.form-group label{

  color: #467061;
}

.form-group .form-control::placeholder{

  color: #467061;
}

.wrapper {
  width: 100%;
  -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  /* background: #7f279c; */
  /* background-color:#467061;
      
    */

  background: #cdffd9;
  border-radius: 20px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f279c', endColorstr='#2e279d', GradientType=1);
}

.contact-wrap h3 {
  color: #6AB476;
}

.info-wrap h3 {
  color: #000;
  position: relative;
}

.info-wrap h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  content: '';
}

.info-wrap .dbox {
  width: 100%;
  margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
  margin-bottom: 0;
}

.info-wrap .dbox p {
  margin-bottom: 0;
}

.info-wrap .dbox p span {
  font-weight: 400;
  color: #000;
}

.info-wrap .dbox p a {
  color: rgba(0, 0, 0, 0.3);
}

.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #000;
}

.info-wrap .dbox .text {
  width: calc(100% - 50px);
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
}

.btn.btn-primary {
  background: #467061 !important;
  border-color: #467061 !important;
  color: #fff;
}

/* .btn.btn-primary:hover, .btn.btn-primary:focus { */
/* border-color: #aa1a77 !important; */
/* } */

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
}

#contactForm .error {
  color: #f65c78;
  font-size: 12px;
}

#contactForm .form-control {
  font-size: 16px;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #f65c78;
}

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: 500;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: #28a745;
}