
main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(245, 250, 255);
  }
  
  main app-sidebar {
    position: absolute;
    height: 100vh;
    width: 250px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: black;
    transition: width 350ms ease-in-out;
  }
  
  main .displayArea {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    height: 100%;
    transition: 350ms ease-in-out;
  }
  
  main .displayAreaShrink {
    position: absolute;
    width: calc(100% - 0%);
    left: 0%;
    height: 100%;
    transition: 350ms ease-in-out;
  }
  
  main .closeSidebar {
    width: 0%;
  }
  