<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 navbar navbar-dark bg-dark bd-default">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
    <img src="../../../../assets/roboadmin.png" alt="">
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-light" routerLinkActive="link-secondary" routerLink="./" [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLinkActive="link-secondary" routerLink="./leads">Leads</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./contacts" routerLinkActive="link-secondary">Contacts</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./clients" routerLinkActive="link-secondary">Clients</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./pipeline" routerLinkActive="link-secondary">Pipeline</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./referees" routerLinkActive="link-secondary">Referees</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./products" routerLinkActive="link-secondary">Products</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./bd-meetings" routerLinkActive="link-secondary">BD Meetings</a></li>
    <li><a href="#" class="nav-link px-2 link-light" routerLink="./" routerLinkActive="link-secondary"><i class="fa-solid fa-ellipsis"></i></a></li>
  </ul>

  <div class="col-md-3 text-end">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li type="button" class="nav-link text-light me-2"><i class="fa-solid fa-magnifying-glass"></i></li>
    <li type="button" class="nav-link text-light me-2"><i class="fa-solid fa-bell"></i></li>
    <li type="button" class="nav-link text-light me-2"><i class="fa-solid fa-file-circle-plus"></i></li>
    <li type="button" class="nav-link text-light me-2"><i class="fa-solid fa-calendar-day"></i></li>
    <li type="button" class="nav-link text-light me-2"><i class="fa-solid fa-shop"></i></li>
    <li type="button" class="nav-link text-light me-2 border-end"><i class="fa-solid fa-gear"></i></li>
    <li type="button" class="nav-link text-light me-2"><i class="fa-solid fa-user"></i></li>
    <li type="button" class="nav-link text-light me-2" routerLink="/user-login"><i class="fa-solid fa-power-off"></i></li>
    </ul>
  </div>
</header>
