.header {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FAF9F6;
  }

  ul>li {
    list-style: none;
  }

  ul>li:hover {
    cursor: pointer;
  }

  .active {
    border-bottom: solid 3px black;
  }