<div class="main-wrapper overflow-hidden">

  <!-- first-container-wrapper starts -->
  <div class="container first-container-wrapper">
    <div class="row">
      <div class="main-heading text-center my-5">
        <h1>
          Welcome to Humanoid CRM
        </h1>
        <p>
          The cutting-edge CRM with diverse functionalities
          tailored exclusively for the UK market
        </p>
      </div>


      <div class="col-6 col-lg-2">
        <div class="flip-card-container">
          <div class="flip-card">

            <div class="card card-front card-front-1">

              <div class="card-responsive d-flex align-items-center  justify-content-center">

                <div class="card-body">

                  <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/salary.png"
                      alt="Card image cap"></div>
                  <p class="text-center mt-3"> Payroll management </p>
                </div>
              </div>
            </div>

            <div class="card card-back card-back-1 text-center px-3">
              <p>Maintain payment processes like HMRC, Work Hours, Tax Deductions, and Benefits.</p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-6 col-lg-2">

        <div class="flip-card-container">
          <div class="flip-card">

            <div class="card card-front card-front-2">

              <div class=" card-responsive d-flex align-items-center  justify-content-center  ">

                <div class="card-body">

                  <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/handshake.png"
                      alt="Card image cap"></div>
                  <p class="text-center mt-3"> HR management </p>
                </div>
              </div>
            </div>

            <div class="card card-back card-back-2 text-center px-3">
              <p>Oversee all aspects of HRM, e.g. Hiring, Training, Appraisals, etc.</p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-6 col-lg-2">
        <!-- <div class="card card-3 mb-3 first-container-card-content-wrapper">
          <div class="card-body">

            <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/project-manager.png"
                alt="Card image cap"></div>
            <p class="text-center mt-3"> Role management</p>
          </div>
        </div> -->

        <div class="flip-card-container">
          <div class="flip-card">

            <div class="card card-front card-front-3">

              <div class=" card-responsive d-flex align-items-center justify-content-center">

                <div class="card-body">

                  <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/human-resources.png"
                      alt="Card image cap"></div>
                  <p class="text-center mt-3"> Role management</p>
                </div>
              </div>
            </div>

            <div class="card card-back card-back-3 text-center px-3">
              <p>Defining, assigning, managing Roles and Tasks to individuals and groups.</p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-6 col-lg-2">
        <!-- <div class="card card-4 mb-3 first-container-card-content-wrapper">
          <div class="card-body ">

            <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/head.png"
                alt="Card image cap"></div>
            <p class="text-center mt-3"> AI powered CRM </p>
          </div>
        </div> -->
        <div class="flip-card-container">
          <div class="flip-card">

            <div class="card card-front card-front-4">

              <div class=" card-responsive d-flex align-items-center  justify-content-center  ">

                <div class="card-body ">

                  <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/bot.png"
                      alt="Card image cap"></div>
                  <p class="text-center mt-3 px-2"> AI powered CRM </p>
                </div>
              </div>
            </div>

            <div class="card card-back card-back-4 text-center px-3">
              <p>AI Customer Interactions, Automate Processes, and deliver Data Drive
                Insights.</p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-6 col-lg-2">
        <!-- <div class="card card-5 mb-3 first-container-card-content-wrapper">
          <div class="card-body ">

            <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/resource.png"
                alt="Card image cap"></div>
            <p class="text-center mt-3"> Resource management </p>
          </div>
        </div> -->
        <div class="flip-card-container">
          <div class="flip-card">

            <div class="card card-front card-front-5">

              <div class=" card-responsive d-flex align-items-center  justify-content-center  ">

                <div class="card-body px-2">

                  <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/resources.png"
                      alt="Card image cap"></div>
                  <p class="text-center mt-3"> Resource management </p>
                </div>
              </div>
            </div>

            <div class="card card-back card-back-5 text-center px-3">
              <p>To maximize productivity and accomplish strategic objectives.</p>
            </div>
          </div>
        </div>
      </div>



      <div class="col-6 col-lg-2">
        <!-- <div class="card card-6 mb-3 first-container-card-content-wrapper">
          <div class="card-body ">

            <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/company.png"
                alt="Card image cap"></div>
            <p class="text-center mt-3"> Company Management </p>
          </div>
        </div> -->
        <div class="flip-card-container">
          <div class="flip-card">

            <div class="card card-front card-front-6">

              <div class=" card-responsive d-flex align-items-center  justify-content-center  ">

                <div class="card-body">

                  <div class="text-center"> <img class=" mb-2" src="../../../../assets/New-Assets/compnay.png"
                      alt="Card image cap"></div>
                  <p class="text-center mt-3"> Company Management </p>
                </div>
              </div>
            </div>

            <div class="card card-back card-back-6 text-center px-3">
              <p>Company Management entails Strategic Planning, Decision-Making,
                and Operational Execution.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="button text-center mt-5">
        <button class="signin-2" role="button" routerLink="/googleSignin">Get-Started
          <i class="fa-solid fa-arrow-right"></i>
        </button>

      </div>

    </div>
  </div>
  <!-- first-container-wrapper Ends -->


  <!-- Second container Starts -->
  <div class="container-fluid my-5">
    <div class="dashboard-img">
    </div>
  </div>
  <!-- Second container Ends -->



  <!-- brand-logo-container start -->
  <div class="brand__Slider_main_wrapper container-fluid">
    <div class="hide-brandSlider-left">
      <h3 class="text-center mt-5">Featured-In</h3>
    </div>
    <div class="hide-brandSlider-right">

    </div>
    <ul class="brandSlider__content list-unstyled">
      <li *ngFor="let images of images">
        <img [src]="images" alt="" class="brandImages" srcset="">
      </li>
    </ul>
    <!-- Mirrors the content above -->
    <ul class="brandSlider__content list-unstyled" aria-hidden="false">
      <li *ngFor="let images of images">
        <img [src]="images" alt="" class="brandImages" srcset="">
      </li>
    </ul>
  </div>
  <!-- brand-logo-container end -->


  <!-- fourth-container-wrapper Starts -->
  <div class="fourth-container-wrapper container">
    <div class="row">
      <div class="col-md-6">
        <div class="side-section-heading">
          <h1>
            Maximizes your productivity and streamlines your work
          </h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-heading">
          <p>
            Your one-stop CRM, from handling payslips to all the way up to company & resource management
          </p>
          <button class="signin-2 my-4" role="button" routerLink="/googleSignin">Get-Started
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- fourth-container-wrapper ends -->

  <!-- fifth container starts -->

  <!-- fifth container Ends -->


  <!-- Sixth container Starts -->
  <div class="sixth-container-wrapper py-5">
    <div class="container d-flex align-items-center">
      <div class="row">

        <div class="col-md-6">
          <div class="main__Content_Div overflow-auto" #mainContentDiv>
            <div class="contentDiv">
              <h1 class="mb-5 me-4">Organize your tasks efficiently for optimal
                output</h1>

              <p class="me-4">streamlines HRMC payment remittance, provides your
                business with effective client data
                management,
                powerful manipulation capabilities, and straightforward lead
                management.</p>

              <div class="d-flex align-items-center sub-side-content ">
                <img
                  src="https://images.unsplash.com/photo-1580654712603-eb43273aff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGxhbWJvcmdoaW5pfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                  alt class="w-25 h-25 me-2 rounded-circle">
                <p class="ms-2 mt-4">“
                  We use monday.com for a plethora of use cases, the
                  opportunities this platform provides are limitless.”
                  Jane Tham
                  |
                  VP of Collaboration Technologies
                  Universal Music Group</p>
              </div>
            </div>

            <div class="contentWrapper">
              <h1 class="my-5 me-4">Organize your tasks efficiently for optimal
                output</h1>

              <p class="me-4">streamlines HRMC payment remittance, provides your
                business with effective client data
                management,
                powerful manipulation capabilities, and straightforward lead
                management.</p>

              <div class="d-flex align-items-center sub-side-content ">
                <img
                  src="https://images.unsplash.com/photo-1580654712603-eb43273aff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGxhbWJvcmdoaW5pfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                  alt class="w-25 h-25 me-2 rounded-circle">
                <p class="ms-2 mt-4">“
                  We use monday.com for a plethora of use cases, the
                  opportunities this platform provides are limitless.”
                  Jane Tham
                  |
                  VP of Collaboration Technologies
                  Universal Music Group</p>
              </div>
            </div>

            <div class="contentWrapper">
              <h1 class="my-5 me-4">Organize your tasks efficiently for optimal
                output</h1>

              <p class="me-4">streamlines HRMC payment remittance, provides your
                business with effective client data
                management,
                powerful manipulation capabilities, and straightforward lead
                management.</p>

              <!-- <div class="d-flex align-items-center sub-side-content ">
              <img
                src="https://images.unsplash.com/photo-1580654712603-eb43273aff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGxhbWJvcmdoaW5pfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                alt class="w-25 h-25 me-2 rounded-circle">
              <p class="ms-2 mt-4">“
                We use monday.com for a plethora of use cases, the
                opportunities this platform provides are limitless.”
                Jane Tham
                |
                VP of Collaboration Technologies
                Universal Music Group</p>
            </div> -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mainImageContainer">
            <div class="image1" #image1>
              <img src="../../../../assets/New-Assets/dashboard.jpg" alt>
            </div>

            <div class="image2" #image2>
              <img src="../../../../assets/New-Assets/board.png" alt>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sixth container Ends -->


  <!-- seventh-container-wrapper starts -->
  <div class="container seventh-container-wrapper mt-5">

    <div class="text-center">
      <h1>Well-informed choices promote business expansion</h1>
      <p>Humanoid CRM makes your workflow optimized and efficacious</p>
    </div>

    <!-- seventh-container-tab-wrapper starts -->
    <div class="d-flex justify-content-center">
      <ul class="nav nav-pills mb-3 p-3 seventh-container-tab-wrapper starts d-flex justify-content-center"
        id="pills-tab" role="tablist">

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link active" id="pills-board-tab" data-bs-toggle="pill" href="#pills-board" role="tab"
            aria-controls="pills-board" aria-selected="true">
            <i class="fa-solid fa-table-columns fs-3 d-block"></i>
            Boards
          </a>
        </li>

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link" id="pills-view-tab" data-bs-toggle="pill" href="#pills-view" role="tab"
            aria-controls="pills-view" aria-selected="false">
            <i class="fa-solid fa-eye fs-3 d-block"></i> Views
          </a>
        </li>

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link" id="pills-dashboard-tab" data-bs-toggle="pill" href="#pills-dashboard" role="tab"
            aria-controls="pills-dashboard" aria-selected="false">
            <i class="fa-solid fa-border-top-left fs-3 d-block"></i> Dashboards
          </a>
        </li>

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link" id="pills-integration-tab" data-bs-toggle="pill" href="#pills-integration" role="tab"
            aria-controls="pills-integration" aria-selected="false">
            <i class="fa-solid fa-gears fs-3 d-block"></i> Integrations
          </a>
        </li>

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link" id="pills-automation-tab" data-bs-toggle="pill" href="#pills-automation" role="tab"
            aria-controls="pills-automation" aria-selected="false">
            <i class="fa-solid fa-network-wired fs-3 d-block"></i> Automations
          </a>
        </li>

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link" id="pills-app-tab" data-bs-toggle="pill" href="#pills-app" role="tab"
            aria-controls="pills-app" aria-selected="false">
            <i class="fa-solid fa-tablet-button fs-3 d-block"></i> Apps
          </a>
        </li>

        <li class="nav-item text-center" role="presentation">
          <a class="nav-link" id="pills-doc-tab" data-bs-toggle="pill" href="#pills-doc" role="tab"
            aria-controls="pills-doc" aria-selected="false">
            <i class="fa-solid fa-file fs-3 d-block"></i> Docs
          </a>
        </li>

      </ul>
    </div>
    <!-- seventh-container-tab-wrapper Ends -->

    <!-- seventh-container-tab-content-wrapper starts -->
    <div class="tab-content mt-5 seventh-container-tab-content-wrapper" id="pills-tabContent">

      <div class="tab-pane fade show active" id="pills-board" role="tabpanel" aria-labelledby="pills-board-tab">

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/New-Assets/board.png" alt="">
          </div>


          <div class="col-md-6 d-flex align-items-center order-first">
            <p>visual board serves as the foundation, is located in the system's core. Adjust it to your tastes and
              manage all aspects, including projects and departments, to suit your requirements.</p>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="pills-view" role="tabpanel" aria-labelledby="pills-view-tab">

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/dashboard.png" alt="">
          </div>

          <div class="col-md-6 d-flex align-items-center order-first">
            <p>Increase the effectiveness of your job by envisioning and strategizing from a variety of unique
              viewpoints.</p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">

        <div class="row">

          <div class="col-md-6">
            <img src="../../../../assets/New-Assets/dashboard.jpg" alt="">
          </div>

          <div class="col-md-6 d-flex align-items-center order-first">
            <p>Obtain the knowledge required to make intelligent choices. Utilizing customized control panels, keep an
              eye on developments, deadlines, and financial goals.</p>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="pills-integration" role="tabpanel" aria-labelledby="pills-integration-tab">

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/New-Assets/New Intigration 2.png" alt="">
          </div>

          <div class="col-md-6 d-flex align-items-center order-first">
            <p>Connect your preferred tools with Humanoid CRM. Such as Slack, Microsoft 365, AWS, and more.</p>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="pills-automation" role="tabpanel" aria-labelledby="pills-automation-tab">

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/New-Assets/chat-gpt-icon.jpeg" alt="">
          </div>

          <div class="col-md-6 d-flex align-items-center order-first">
            <p>Reduce procedures, use a variety of automation tools, or create your own workflows to help you focus on
              critical activities.</p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-app" role="tabpanel" aria-labelledby="pills-app-tab">

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/New-Assets/apps.jpg" alt="">
          </div>

          <div class="col-md-6 d-flex align-items-center order-first">
            <p>Increase the possibilities of your workflow with Humanoid CRM. Personalize your processes with widgets,
              integrations, and other innovative functions.</p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-doc" role="tabpanel" aria-labelledby="pills-doc-tab">

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/New-Assets/doc.png" alt="">
          </div>

          <div class="col-md-6 d-flex align-items-center order-first">
            <p>Access time sheets and payslips instantly, and easily share it with just one click.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- seventh-container-tab-content-wrapper Ends -->

  </div>
  <!-- seventh-container-wrapper ends -->


  <!-- humanoid-service-wrapper start -->
  <div class="humanoid-service-wrapper container my-5 py-5">


    <div class="text-center humanoid-service-heading-section">

      <div class="my-5">
        <img src="../../../../assets/New-Assets/google-googles.png" alt=""> <span class="ms-2">Humanoid Services</span>
      </div>

      <h1>End-to-end products to run
        the core of your business</h1>

      <p class="my-5">Tailored products designed for every aspect of your teams' needs.</p>

    </div>


    <div class="d-flex justify-content-center humanoid-service-card-section">

      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="card card-1 pt-2 pt-lg-3 pe-lg-5">

            <div class="d-flex justify-content-center humanoid-service-card-content-section">
              <div class="d-flex align-items-center">
                <img src="../../../../assets/New-Assets/yelp.png" alt="Card image cap">
              </div>

              <div class="w-50 ms-2">
                <span class="fw-bold">Humanoid</span>
                <span class="ms-1">work management</span>
              </div>
            </div>


            <div class="card-body ms-5">
              <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                beatae.</small>
              <p class="my-lg-3 fs-6">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <hr>
              <p class="my-3 fs-6">Lorem, ipsum dolor:</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem, ipsum dolor.</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem ipsum dolor sit.</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem ipsum dolor sit amet.</p>

              <div class="text-center my-3 my-lg-4">
                <button type="button" class="btn btn-light">Get Started <i class="fa-solid fa-arrow-right"></i></button>
              </div>

              <div class="text-center mt-lg-5">
                <a href="#" class="link-secondary">Secondary link</a>
              </div>

            </div>
          </div>
        </div>


        <div class="col-12 col-lg-4">
          <div class="card card-2 pt-2 pt-lg-3 pe-lg-5">

            <div class="d-flex justify-content-center humanoid-service-card-content-section">
              <div class=" d-flex align-items-center">
                <img src="../../../../assets/New-Assets/yelp.png" alt="Card image cap">
              </div>

              <div class="w-50 ms-2">
                <span class="fw-bold">Humanoid</span>
                <span class="ms-1">work management</span>
              </div>
            </div>


            <div class="card-body ms-5">
              <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                beatae.</small>
              <p class="my-lg-3 fs-6">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <hr>
              <p class="my-3 fs-6">Lorem, ipsum dolor:</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem, ipsum dolor.</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem ipsum dolor sit.</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem ipsum dolor sit amet.</p>

              <div class="text-center my-3 my-lg-4">
                <button type="button" class="btn btn-light">Get Started <i class="fa-solid fa-arrow-right"></i></button>
              </div>

              <div class="text-center mt-lg-5">
                <a href="#" class="link-secondary">Secondary link</a>
              </div>

            </div>
          </div>
        </div>


        <div class="col-12 col-lg-4">
          <div class="card card-3 pt-2 pt-lg-3 pe-lg-5">

            <div class="d-flex justify-content-center humanoid-service-card-content-section">
              <div class=" d-flex align-items-center">
                <img src="../../../../assets/New-Assets/yelp.png" alt="Card image cap">
              </div>

              <div class="w-50 ms-2">
                <span class="fw-bold">Humanoid</span>
                <span class="ms-1">work management</span>
              </div>
            </div>


            <div class="card-body ms-5">
              <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                beatae.</small>
              <p class="my-lg-3 fs-6">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <hr>
              <p class="my-3 fs-6">Lorem, ipsum dolor:</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem, ipsum dolor.</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem ipsum dolor sit.</p>
              <p class="my-3 fs-6"><i class="fa-solid fa-check"></i> Lorem ipsum dolor sit amet.</p>

              <div class="text-center my-3 my-lg-4">
                <button type="button" class="btn btn-light">Get Started <i class="fa-solid fa-arrow-right"></i></button>
              </div>

              <div class="text-center mt-lg-5">
                <a href="#" class="link-secondary">Secondary link</a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- humanoid-product-wrapper end -->


  <!-- humanoid-efficiency-wrapper start -->
  <div class="container-fluid">
    <div class="humanoid-efficiency-wrapper container my-5">

      <div class="d-flex justify-content-center">

        <div class="row">
          <div class="col-12 col-lg-4">

            <div class="card card-1 p-3">

              <div class="d-flex">

                <div class="d-flex align-items-center">
                  <img src="../../../../assets/New-Assets/google-googles.png" alt="...">
                </div>

                <div class="first-section mt-3 ms-2">
                  <p>Humanoid</p>
                </div>

                <div class="mt-3 ms-1 second-section">
                  <p> Efficiency</p>
                </div>

              </div>

              <div class="card-body">
                <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda natus blanditiis praesentium sit
                  quod voluptate officia similique quisquam laborum dolorem!</h4>
                <a routerLink="/endorsement" class="btn btn-primary my-3 my-lg-0">Go somewhere</a>
              </div>
            </div>

          </div>


          <div class="col-12 col-lg-4">

            <div class="card card-2 pt-3">

              <div class="card-body">

                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a routerLink="/individual-endorsement" class="btn btn-primary">Go somewhere</a>

              </div>
              <img src="../../../../assets/New-Assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="...">
            </div>

          </div>

          <div class="col-12 col-lg-4">

            <div class="card card-3 pt-3">

              <div class="card-body">

                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a routerLink="./individual-endorsement" class="btn btn-primary">Go somewhere</a>

              </div>
              <img src="../../../../assets/New-Assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="...">
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- humanoid-efficiency-wrapper end -->


  <!-- eigth-container-wrapper starts -->
  <div class="container eigth-container-wrapper mt-5">
    <div class="d-flex justify-content-center">
      <div class="row">

        <div class="col-md-6">
          <div class="eigth-container-main-heading mt-sm-5 mb-3 text-center">
            <h3 class="m-4">Results produced by our pleased customers.
            </h3>
          </div>
        </div>

        <!-- eigth-container-content-wrapper starts -->
        <div class="col-md-6 order-first order-md-last">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-button-1" role="tabpanel" aria-labelledby="nav-button-1-tab">
              <div class="card mt-5">

                <div class="card-body mt-5">
                  <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content."</p>
                  <small>
                    <p>Charlie MacGregor | Founder & CEO</p>
                  </small>

                  <div class="brand-logo">
                    <span>Unity</span>
                    <img src="../../../../assets/unity.png" alt="" class="ms-2">
                  </div>


                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-button-2" role="tabpanel" aria-labelledby="nav-button-2-tab">
              <div class="card mt-5">

                <div class="card-body mt-5">
                  <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content."</p>
                  <small>
                    <p>Charlie MacGregor | Founder & CEO</p>
                  </small>
                  <div class="brand-logo">
                    <span>Unity</span>
                    <img src="../../../../assets/unity.png" alt="" class="ms-2">
                  </div>


                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-button-3" role="tabpanel" aria-labelledby="nav-button-3-tab">
              <div class="card mt-5">

                <div class="card-body mt-5">
                  <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content."</p>
                  <small>
                    <p>Charlie MacGregor | Founder & CEO</p>
                  </small>

                  <div class="brand-logo">
                    <span>Unity</span>
                    <img src="../../../../assets/unity.png" alt="" class="ms-2">
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-button-4" role="tabpanel" aria-labelledby="nav-button-4-tab">
              <div class="card mt-5">

                <div class="card-body mt-5">
                  <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content."</p>
                  <small>
                    <p>Charlie MacGregor | Founder & CEO</p>
                  </small>
                  <div class="brand-logo">
                    <span>Unity</span>
                    <img src="../../../../assets/unity.png" alt="" class="ms-2">
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-button-5" role="tabpanel" aria-labelledby="nav-button-5-tab">
              <div class="card mt-5">

                <div class="card-body mt-5">
                  <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content."</p>
                  <small>
                    <p>Charlie MacGregor | Founder & CEO</p>
                  </small>
                  <div class="brand-logo">
                    <span>Unity</span>
                    <img src="../../../../assets/unity.png" alt="" class="ms-2">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- eigth-container-content-wrapper ends -->

          <!-- eigth-container-tab-wrapper starts -->
          <nav class="eigth-container-tab-wrapper mt-3">
            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-button-1-tab" data-bs-toggle="tab" data-bs-target="#nav-button-1"
                type="button" role="tab" aria-controls="nav-button-1" aria-selected="true"></button>
              <button class="nav-link" id="nav-button-2-tab" data-bs-toggle="tab" data-bs-target="#nav-button-2"
                type="button" role="tab" aria-controls="nav-button-2" aria-selected="false"></button>
              <button class="nav-link" id="nav-button-3-tab" data-bs-toggle="tab" data-bs-target="#nav-button-3"
                type="button" role="tab" aria-controls="nav-button-3" aria-selected="false"></button>
              <button class="nav-link" id="nav-button-4-tab" data-bs-toggle="tab" data-bs-target="#nav-button-4"
                type="button" role="tab" aria-controls="nav-button-4" aria-selected="false"></button>
              <button class="nav-link" id="nav-button-5-tab" data-bs-toggle="tab" data-bs-target="#nav-button-5"
                type="button" role="tab" aria-controls="nav-button-5" aria-selected="false"></button>
            </div>
          </nav>
        </div>
        <!-- eigth-container-tab-wrapper Ends -->
      </div>
    </div>

    <div class="text-center eigth-container-last-heading pb-4">
      <a routerLink="/about" class="arrow-link">Read More About Us <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <!-- eigth-container-tab-content-wrapper Ends -->
  </div>
  <!-- eigth-container-wrapper ends -->


  <!-- ninth-container-wrapper starts -->
  <div class="ninth-container-wrapper container mt-5 mb-4">
    <div class="row">

      <div class="col-lg-8 order-last">
        <div class="text-center text-lg-start">
          <h3 class="mb-3">
            Promoting your growth at each level of the journey
          </h3>
          <p class="mb-4 my-md-5">
            Our outstanding support staff is ready to improve your experience with Humanoid CRM and is just a click
            away.
          </p>

          <ul class="d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <img src="../../../../assets/New-Assets/phone-call.png" alt="" class="me-3">
              <li>Round-the-clock Support</li>
            </div>

            <div class="d-flex justify-content-between">
              <img src="../../../../assets/New-Assets/heart.png" alt="" class="me-3">
              <li>loved by our customers</li>
            </div>

            <div class="d-flex justify-content-between">
              <img src="../../../../assets/New-Assets/stopwatch.png" alt="" class="me-3">
              <li>Instant response time</li>
            </div>

          </ul>
        </div>

        <div class="ninth-container-second-content-wrapper">

          <button role="button" routerLink="/googleSignin">Get-Started
            <i class="fa-solid fa-arrow-right"></i>
          </button>


          <a routerLink="/about" class="ms-4 arrow-link-2">Read More About Us
            <i class="fa-solid fa-arrow-right"></i></a>

        </div>

      </div>


      <div class="col-lg-4">
        <div class="ninth-container-image-wrapper">
          <img src="../../../../assets/New-Assets/globe.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- ninth-container-wrapper ends -->


  <!-- testimonial-card-container start -->
  <section class="client-review-container my-5 bg-light">
    <div class="client-heading text-center">
      <h1>Whats Our Client Says</h1>
    </div>
    <div class="marquee">
      <div class="hide-container-left">
        <img src="../../../../assets/New-Assets/Rectangle-1233.webp" alt srcset>
      </div>
      <div class="hide-container-right">
        <img src="../../../../assets/New-Assets/Rectangle-1233-1.webp" alt srcset>
      </div>
      <ul class="marquee__content list-unstyled">
        <li *ngFor="let client of clientReviewData">
          <div class="reviews-list">
            <div class="review-card">

              <div class="review-header">
                <div class="name-group">
                  <div class="initials">A</div>
                  <p>{{client.name}}</p>
                </div>
                <div class="rating">
                  <ng-container *ngFor="let star of client.stars">
                    <i [class]="star"></i>
                  </ng-container>
                </div>
              </div>

              <div class="review-description">
                {{client.description}}
              </div>
              <div class="review-details">
                <div class="review-date">{{client.reviewDate}}</div>
                <div class="share-group">
                  <i class="fas fa-share-alt"></i>
                  <p>Share</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Mirrors the content above -->
      <ul class="marquee__content list-unstyled" aria-hidden="true">
        <li class="list" *ngFor="let client of clientReviewData">
          <div class="reviews-list">
            <div class="review-card">
              <div class="review-header">
                <div class="name-group">
                  <div class="initials">A</div>
                  <p>{{client.name}}</p>
                </div>
                <div class="rating">
                  <ng-container *ngFor="let star of client.stars">
                    <i [class]="star"></i>
                  </ng-container>
                </div>
              </div>
              <div class="review-description">
                {{client.description}}
              </div>
              <div class="review-details">
                <div class="review-date">{{client.reviewDate}}</div>
                <div class="share-group">
                  <i class="fas fa-share-alt"></i>
                  <p>Share</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- testimonial-card-container end -->

</div>