input {
    height: 4vh;
}



.p-dropdown-label p-inputtext ng-star-inserted{
    background: transparent;
    border: 0 none;
    width: 27%;
    height: 3vh;
}

.writingstyle{
    font-family: Helvetica;
}
.custom-height {
    height: 4vh;
  }
  .pattern{
    background: url('../../../../../src/assets/pattern.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
  }
  input {
    height: 2vh;
}
  