.container-fluid,
.row {
    width: auto  !important;
    height: 100vh;
    background-color: white;
}

.loginBox {
    width: 400px;
    /* min-height: 300px; */
    background-color: white;
    border-radius: 4px;
    border: 1px solid #c3c4c5;
}

.form-group a {
    text-decoration: none;
}

img {
    width: 160px;
}

label {
    font-size: 14px;
}

.user-side{
    background-image: url('../../../../assets/user-login.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}