@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.container{
    margin-top: 30vh;
    margin-bottom: 20vh;
}
h1{
    font-family: 'Alfa Slab One', serif;
    font-size: 80px;
    color: #43B647;
}
p{
    font-family: poppins;
    font-size: 15px;
    font-weight: 600;
    color: #43b647;
}