.writingstyle{
    font-family: Helvetica;
}
i:hover{
    cursor: pointer;
    
}
.submit-button{
    position: absolute;
}
.loadingspinner {
    pointer-events: none;
    width: 20px;
    height: 20px;
    border: 5px solid transparent;
   top: 4px;
    position: relative;
    border-color: #eee;
    border-top-color: #3E67EC;
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg);
        
    }
}