.container-fluid,
.row {
  width: 100% !important;
  height: 100vh;
}

/* .box1 {
  width: 100%;
  background-image: url('../../../../assets/possessed-photography-rDxP1tF3CmA-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginBox {
  width: 400px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #c3c4c5;
  box-shadow: -3px -3px 9px #aaa9a9a2,
    3px 3px 7px rgba(147, 149, 151, 0.671);
  border-radius: 10px;
}

.form-group a {
  text-decoration: none;
}

label {
  font-size: 14px;
}

.offcanvas-end {
  width: 100%;
  background-image: url('../../../../assets/possessed-photography-JjGXjESMxOY-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 2s ease-in-out;
}

.opt-Form,
.opt-Row {
  background-color: transparent !important;
  height: 90vh !important;
} */


.bg-img{
  background-image: url('../../../../assets/New-Assets/Login-Image.jpeg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.wrapper{
  /* max-width: 37%;
  margin: auto;
  margin-top: 33vh; */
  max-width: 42%;
  margin: auto;
  margin-top: 21vh;

}
.main-heading > h2{
  font-size: 32px ;
  line-height: 40px;
  font-weight:500 ;
}
.main-heading > p{
  font-size: 16px ;
  line-height: 22px;
  font-weight:400 ;
}
@media(max-width:1199px){
  .wrapper{
      max-width: 67%;
  }
}
